@use "../variables";
@use "../mixins";

#about-us {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  border-top: 2px solid #fff;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }

  .container-ubisoft {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 3rem;
    background-color: variables.$default-black-color;

    @media screen and (max-width: 1024px) {
      width: 100%;
      align-items: center;
    }

    .logo-ubisoft {
      width: 60%;

      @media screen and (max-width: 1024px) {
        width: 20%;
      }

      @media screen and (max-width: 550px) {
        width: 40%;
      }
    }

    .painel-links {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      a {
        @include mixins.default-text(1.5rem, 2.5rem, left, 0);

        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
        transition: 0.2s ease;

        @media screen and (min-width: 1950px) {
          @include mixins.default-text(2rem, 3.33rem, left, 0);
        }

        @media screen and (max-width: 1024px) {
          text-align: center;
        }

        &:hover::first-line {
          color: variables.$letters-color;
        }
      }

      &:hover {
        a {
          color: darken(variables.$letters-color, 50);
        }
      }
    }

    .painel-legal-links {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      a {
        @include mixins.default-text(1rem, 1.7375rem, left, 0);

        text-decoration: none;
        cursor: pointer;
        transition: 0.2s ease;

        @media screen and (min-width: 1950px) {
          @include mixins.default-text(1.33rem, 2.32rem, left, 0);
        }

        @media screen and (max-width: 1024px) {
          text-align: center;
        }

        &:hover::first-line {
          color: variables.$letters-color;
        }
      }

      &:hover {
        a {
          color: darken(variables.$letters-color, 50);
        }
      }
    }
  }

  .container-valhalla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: 100%;

    .logo-valhalla {
      width: 25%;

      @media screen and (max-width: 550px) {
        width: 40%;
      }
    }

    .container-game-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      margin-top: 3.5rem;

      @media screen and (max-width: 550px) {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
      }

      .info-studios {
        display: flex;
        flex-direction: column;

        h3 {
          @include mixins.default-text(1rem, 1.7375rem, left, 25);

          @media screen and (min-width: 1950px) {
            @include mixins.default-text(1.33rem, 2.32rem, left, 25);
          }

          @media screen and (max-width: 550px) {
            text-align: center;
          }
        }

        .info-studios-tags {
          margin-top: 0.8rem;

          @media screen and (max-width: 550px) {
            text-align: center;
          }

          span {
            @include mixins.default-text(1.5rem, 1.5rem, left, 0);

            @media screen and (min-width: 1950px) {
              @include mixins.default-text(2rem, 2rem, left, 0);
            }

            @media screen and (max-width: 550px) {
              text-align: center;
            }
          }
        }
      }

      .info-plataforms {
        display: flex;
        flex-direction: column;

        h3 {
          @include mixins.default-text(1rem, 1.7375rem, left, 25);

          @media screen and (min-width: 1950px) {
            @include mixins.default-text(1.33rem, 2.32rem, left, 25);
          }

          @media screen and (max-width: 550px) {
            text-align: center;
          }
        }

        .info-plataforms-tags {
          display: flex;
          flex-direction: column;
          margin-top: 0.8rem;

          span {
            @include mixins.default-text(1.5rem, 1.5rem, left, 0);

            margin-top: 1rem;

            @media screen and (min-width: 1950px) {
              @include mixins.default-text(2rem, 2rem, left, 0);
            }

            @media screen and (max-width: 550px) {
              text-align: center;
            }
          }

          span:first-child {
            margin-top: 0;
          }
        }
      }

      .info-partners {
        display: flex;
        flex-direction: column;

        h3 {
          @include mixins.default-text(1rem, 1.7375rem, left, 25);

          @media screen and (min-width: 1950px) {
            @include mixins.default-text(1.33rem, 2.32rem, left, 25);
          }

          @media screen and (max-width: 550px) {
            text-align: center;
          }
        }

        .info-partners-tags {
          display: flex;
          flex-direction: column;
          margin-top: 0.8rem;

          span {
            @include mixins.default-text(1.5rem, 1.5rem, left, 0);

            margin-top: 1rem;

            @media screen and (min-width: 1950px) {
              @include mixins.default-text(2rem, 2rem, left, 0);
            }

            @media screen and (max-width: 550px) {
              text-align: center;
            }
          }

          span:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .copyright-terms {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      margin-top: 2rem;

      @media screen and (max-width: 550px) {
        margin-top: 3rem;
      }

      .copyright-terms-content {
        font-size: 1rem;
        font-family: variables.$font-primary;
        font-weight: 400;
        line-height: 1rem;
        color: variables.$letters-color;
        text-align: center;

        @media screen and (min-width: 1950px) {
          font-size: 1.33rem;
          line-height: 1.33rem;
        }
      }
    }
  }

  .container-github {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 3rem 2rem 3rem;
    background-color: variables.$default-black-color;

    @media screen and (min-width: 1950px) {
      align-items: center;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      align-items: center;
    }

    .photo-profile-github {
      width: 100%;
      overflow: hidden;

      @media screen and (min-width: 1950px) {
        width: 70%;
      }

      @media screen and (max-width: 1024px) {
        width: 20%;
      }

      img {
        clip-path: circle();
      }
    }

    .info-profile-github {
      h3 {
        @include mixins.default-text(1.5rem, 1.5rem, center, 15);

        @media screen and (min-width: 1950px) {
          @include mixins.default-text(2rem, 2rem, center, 15);
        }

        span {
          @include mixins.default-text(1rem, 1.5rem, center, 50);

          @media screen and (min-width: 1950px) {
            @include mixins.default-text(1.33rem, 2rem, center, 50);
          }
        }
      }

      p {
        @include mixins.default-text(1.5rem, 2.5rem, center, 0);

        margin: 1rem 0;
        color: transparent;
        background-image: linear-gradient(
          90deg,
          variables.$primary-color,
          variables.$letters-color
        );
        background-clip: text;
        -webkit-background-clip: text;

        @media screen and (min-width: 1950px) {
          @include mixins.default-text(2rem, 3.33rem, center, 0);
          color: transparent;
        }
      }

      .btn {
        @include mixins.default-text(1.5rem, 1.5rem, center, 15);

        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 1rem 2rem;
        background: linear-gradient(90deg, variables.$gradient-colors);
        border-radius: 55px;
        transition: 0.2s ease;

        @media screen and (min-width: 1950px) {
          @include mixins.default-text(2rem, 2rem, center, 15);
        }

        &:hover {
          background: linear-gradient(
            90deg,
            lighten(variables.$second-color, 15) 0%,
            variables.$second-color 50%,
            variables.$default-black-color 100%
          );
        }
      }
    }
  }
}
