@use "../variables";
@use "../mixins";

.navbar {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;
  height: 8vh;
  background: linear-gradient(90deg, variables.$gradient-colors);
  border-bottom: 3.5px solid variables.$default-black-color;
  -webkit-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
  -moz-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
  box-shadow: 0px 10px 15px 0px variables.$default-black-color;

  .logo {
    width: calc(52px * 2);
  }

  .mobile-menu {
    display: none;
    cursor: pointer;

    @media (max-width: 999px) {
      display: block;
    }

    div {
      width: 32px;
      height: 2px;
      background-color: variables.$letters-color;
      margin: 8px;
    }
  }

  .nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 4rem;

    @media (max-width: 999px) {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 100%;
      height: 50vh;
      background: linear-gradient(90deg, variables.$gradient-colors);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-bottom: 3.5px solid variables.$default-black-color;
      border-radius: 0 0 15px 15px;
      -webkit-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
      -moz-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
      box-shadow: 0px 10px 15px 0px variables.$default-black-color;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }

    li {
      @media (max-width: 999px) {
        opacity: 0;
      }

      a {
        @include mixins.default-text(1.2rem, 1.5rem, left, 50);

        text-decoration: none;
        transition: 0.2s linear;
        cursor: pointer;

        &:hover {
          color: darken(variables.$letters-color, 15);
        }

        @media (max-width: 999px) {
          color: darken(variables.$letters-color, 15);
        }
      }
    }
  }

  .nav-list.active {
    transform: translateX(0);
  }

  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }

  .mobile-menu.active .line2 {
    opacity: 0;
  }

  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
