@use "../variables";
@use "../mixins";

.header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  width: 100%;
  height: 4.25rem;
  background: linear-gradient(90deg, variables.$gradient-colors);
  border-bottom: 3.5px solid variables.$default-black-color;
  -webkit-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
  -moz-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
  box-shadow: 0px 10px 15px 0px variables.$default-black-color;

  @media screen and (min-width: 1950px) {
    height: 8vh;
  }

  #menu-control {
    display: none;

    &:not(:checked) {
      & ~ .navbar {
        @media screen and (max-width: 768px) {
          height: 0;
        }
      }
    }

    &:checked {
      & ~ .navbar {
        @media screen and (max-width: 768px) {
          height: fit-content;
          padding: 2rem 0;
        }
      }
    }
  }

  .logo {
    height: calc(100% - 2rem);
    width: auto;
  }

  .hamburguer {
    @media screen and (min-width: 769px) {
      display: none;
    }

    label {
      cursor: pointer;
    }
  }

  .navbar {
    @media screen and (max-width: 768px) {
      top: 4.25rem;
      left: 0;
      width: 100%;
      position: fixed;
      background: linear-gradient(90deg, variables.$gradient-colors);
      transition: all 0.3s cubic-bezier(0, 1, 0, 1);
      overflow: hidden;
      border-radius: 0 0 15px 15px;
      border-bottom: 3.5px solid variables.$default-black-color;
      -webkit-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
      -moz-box-shadow: 0px 10px 15px 0px variables.$default-black-color;
      box-shadow: 0px 10px 15px 0px variables.$default-black-color;
    }

    .nav-list {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 4rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: start;
        gap: 3rem;
      }

      li {
        a {
          @include mixins.default-text(1.2rem, 1.5rem, left, 50);

          text-decoration: none;
          transition: 0.2s linear;
          cursor: pointer;

          @media screen and (min-width: 2560px) {
            @include mixins.default-text(2.4rem, 3rem, left, 50);
          }

          @media screen and (min-width: 1950px) {
            @include mixins.default-text(1.8rem, 2.25rem, left, 50);
          }

          @media screen and (max-width: 768px) {
            color: darken(variables.$letters-color, 15);
          }

          &:hover {
            color: darken(variables.$letters-color, 15);
          }
        }
      }
    }
  }
}
