@use "../variables";

#home {
  background: url(../../../src/assets/home-background.png);
  background-size: cover;
  width: 100%;
  height: 1094px;

  .container {
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 11rem;

    img {
      width: 50%;
      border: 1px solid;
      border-image-source: linear-gradient(
        113.28deg,
        #074138 0.96%,
        rgba(180, 180, 180, 0.36) 109.56%
      );
    }

    h1 {
      font-size: 1.25rem;
      line-height: 2rem;
      letter-spacing: -0.01em;
      text-align: left;
      text-transform: uppercase;
      font-weight: 400;
      font-family: variables.$font-primary;
      color: darken(variables.$letters-color, 25);

      margin: 1.375rem 0;
      width: 60%;

      span {
        position: relative;
        bottom: -0.4rem;
        color: darken(variables.$letters-color, 15);
        font-size: 2rem;
        opacity: 1;
      }
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      color: variables.$letters-color;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1,56rem;
      letter-spacing: -0.01em;

      position: relative;
      left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10.125rem;
      height: 2rem;

      background: #13AB93;
      opacity: 0.7;
      border: 2px solid #13AB93;
      transition: 0.2s ease;

      &:hover {
        background-color: #161616;
        border: 2px solid #161616;
        color: lighten(variables.$letters-color, 15);
      }

      &::before {
        content: "";
        position: absolute;
        background: none;
        border-left: 19px solid transparent;
        border-right: 0px solid transparent;
        border-bottom: 32px solid #13AB93;
        left: -20px;
        top: -2px;
        transition: 0.2s ease;
      }

      &:hover::before {
        border-bottom: 32px solid #161616;
      }

      &::after {
        content: "";
        position: absolute;
        background: none;
        border-right: 19px solid transparent;
        border-left: 0px solid transparent;
        border-top: 32px solid #13AB93;
        right: -20px;
        top: -2px;
        transition: 0.2s ease;
      }

      &:hover::after {
        border-top: 32px solid #161616;
      }

      &:active {
        filter: brightness(1.5);
      }
    }

    .cards {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.06rem;
      margin-top: 2.06rem;
      padding-right: 2.813rem;
      .card {
        flex: 1;
        width: 20%;
      }
    }
  }
}
