@use "../variables";
@use "../mixins";

#story {
  position: relative;
  width: 100%;
  height: 85vh;

  .container {
    background: url(../../../src/assets/story-background.png);
    background-size: cover;
    z-index: 1;
    position: absolute;
    top: -21rem;
    width: 100%;
    height: calc(100% + 21rem);
    padding: 7rem 2.813rem;

    h1 {
      @include mixins.default-text(2.25rem, 3rem, left, 15);
    }

    .text-grid {
      display: flex;
      flex-direction: row;
      gap: 1.7rem;
      margin: 2.25rem 0 2rem 0;
      width: 38%;

      p {
        @include mixins.default-text(1.125rem, 1.55rem, left, 25);

        span {
          @include mixins.capitalize-text(-0.2rem, 1.625rem);
        }
      }
    }

    figure {
      max-width: 19.9rem;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      figcaption {
        @include mixins.default-text(0.625rem, 1rem, left, 25);

        word-spacing: 0.15em;
        position: absolute;
        right: 0;
        left: 1;
        top: 1;
        bottom: 0.25rem;
        width: 45%;
        padding: 0.5rem;
        background-color: #7d7667;
        opacity: 0.9;        

        span {
          @include mixins.capitalize-text(-0.2rem, 1.05rem);
        }
      }
    }

    .social-networks {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 8%;
      margin-top: 1.75rem;

      a {
        cursor: pointer;
        transition: 0.2s linear;

        &:hover {
          position: relative;
          top: -0.2rem;
        }
      }
    }
  }
}
