@use "variables";

@mixin default-text($font-size, $line-height, $text-align, $amount) {
  font-size: $font-size;
  font-weight: 400;
  font-family: variables.$font-primary;
  letter-spacing: -0.01em;
  line-height: $line-height;
  text-transform: uppercase;
  text-align: $text-align;
  color: darken(variables.$letters-color, $amount);

  @media screen and (min-width: 1950px) {
    font-size: calc($font-size / 3 + $font-size);
    line-height: calc($line-height / 3 + $line-height);
  }

  @media screen and (max-width: 550px) {
    font-size: calc($font-size - $font-size / 3);
    line-height: calc($line-height - $line-height / 3);
  }
}

@mixin capitalize-text($bottom, $font-size) {
  position: relative;
  bottom: $bottom;
  color: darken(variables.$letters-color, 15);
  font-size: $font-size;
  opacity: 1;

  @media screen and (min-width: 1950px) {
    font-size: calc($font-size / 3 + $font-size);
    bottom: calc($bottom / 3 + $bottom);
  }

  @media screen and (max-width: 550px) {
    font-size: calc($font-size - $font-size / 3);
    bottom: calc($bottom - $bottom / 3);
  }
}
