$primary-color: #13ab93;
$background-color: linear-gradient(90deg, #0c0b07 0 60%, #0c0e09 100%);
$letters-color: #fff;
$gradient-colors: #09766a, #111615;
$default-black-color: #161616;

$font-primary: "Source Serif Pro", serif;
