@use "variables";

@use "components/header";
@use "components/home";
@use "components/story";
@use "components/features";
@use "components/aboutus";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  body {
    background: variables.$background-color;
    -webkit-font-smoothing: antialiased;

    img {
      width: 100%;
      height: auto;
    }
  }
}

::-webkit-scrollbar {
  background: linear-gradient(0deg, variables.$gradient-colors);
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: variables.$primary-color;
  opacity: 0.7;
  border-radius: 15px;

  &:active {
    background-color: darken(variables.$primary-color, 10);
  }
}
